<div class="not-allowed-container">
    <h2>No tienes permiso!</h2>
    <p>Esta ventana es solo para perfiles autorizados.</p>
    <img src="/guardiandog.png" alt="No autorizado" class="not-allowed-image" />
    <a href="/" class="btn">Volver al Home</a>
</div>