<div class="about-section">
        <h2>Sobre Nosotros</h2>
        <p>
            Bienvenido a nuestra página de gestión de mascotas. Aquí, nos dedicamos a brindar una plataforma sencilla y efectiva para que los dueños de mascotas puedan registrar y administrar la información de sus animales. 
            Nuestro objetivo es facilitar la conexión entre mascotas y sus dueños, asegurando que cada mascota tenga el cuidado y la atención que merece.
        </p>
        <img src="/nosotros.png" alt="Nosotros" class="about-image">
</div>