<header>
  <div class="header-content">
    <h1><a href="/">Tu Aplicación</a></h1>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/pets">Mascotas</a></li>
        <li><a href="/registerUser">Registrar Usuario</a></li>
        <li><a href="/login">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>
